@import "../styles/theme.css";
@import "tailwindcss";

html{
scroll-behavior:smooth;
}

body{

background:
linear-gradient(
180deg,
#F7F6F2,
#EDF8F0
);

font-family:
Inter,
sans-serif;

overflow-x:hidden;

color:#081126;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

img{
display:block;
}

button{
transition:.3s;
cursor:pointer;
}

button:hover{
transform:
translateY(-2px);
}

::selection{

background:
#2CB670;

color:white;

}

.hero-shadow{

box-shadow:

0 60px 140px rgba(
0,
0,
0,
.12
);

}

.glass{

backdrop-filter:
blur(20px);

background:
rgba(
255,
255,
255,
0.68
);

}

@keyframes float{

0%{
transform:
translateY(0)
}

50%{
transform:
translateY(-14px)
}

100%{
transform:
translateY(0)
}

}

.float{

animation:
float 6s ease infinite;

}